################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/MCPP.Net/.vs
/src/MCPP.Net/bin/Debug/net8.0
/src/MCPP.Net/obj
/src/MCPP.Net/Properties
/src/MCPP.Net/appsettings.Development.json
/src/MCPP.Net/ImportedSwaggers
